.form-speed {
	display: flex;
	gap: 1rem;
}

.form-speed p {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 2rem;
}

input, select {
	margin-top: 4px;
	width: 200px;
	height: 30px;
}

input[type="submit"] {
	margin: auto;
}

.form-order {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
	width: 500px;
}

.form-order p {
	display: flex;
	justify-content: space-between;
}