/* Стили для смартфона */
@media (max-width: 767px) {

	.form-speed p {
		flex-direction: column;
		margin: 0;
	}

	input {
		margin: 8px auto;
		width: 140px;
	}

	input[type="submit"] {
		width: 100%;
	}

	.nav-burger {
		display: flex !important;
	}
	.container {
		margin-left: 0px;
	}

	.logo {
		margin: 0 auto;
	}
	.nav-main {
		display: none;
	}
	.nav-burger {
		display: block !important;
		margin: 0;
	}
}

/* Стили для планшета */
 @media (min-width: 768px) and (max-width: 1023px) {

}

/* Стили для компьютера */
@media (min-width: 1024px) {

}