.nav-main, .nav-sidebar {
	display: flex;
	align-items: center;
}

.nav-burger {
	display: none;
}

.nav-main__items, .nav-sidebar__items  {
	display: flex;
	align-items: center;
	gap: 12px;

	list-style: none;
}

.nav-sidebar__items {
	flex-direction: column;
	align-items: flex-start;
}

.nav-main__item, .nav-sidebar__item{
	color: #000;
	text-transform: uppercase;
	font-weight: bold;
}

.active {
	color: #0036ab !important;
}




