<section id="companies" class="companies">
    <div class="companies__items">
        {% for company in companies %}
			<div class="companies__item">
                <a class="companies__link" href="{{ company.link }}">
		            <img class="companies__image" src="{{ company.image.url }}">
		            <div class="companies__title">{{ company.title }}</div>
		            <div class="companies__subtitle">{{ company.subtitle }}</div>
                </a>
            </div>
        {% endfor %}
    </div>
</section>