.header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 64px;
    padding: 0 10px;

    background-color: #fff;
	color: #24292e;
	box-shadow: 0 1px 8px rgba(0,0,0,.2);
}

.header__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: auto;
}

.header__action {
    display: flex;
    gap: 2rem;
}