@import url("vendor/normalize.css");

@import url("includes/page.css");
@import url("includes/container.css");
@import url("includes/header.css");
@import url("includes/logo.css");
@import url("includes/nav.css");
@import url("includes/sidebar.css");
@import url("includes/main.css");
@import url("includes/forms.css");
@import url("includes/order.css");
@import url("includes/location.css");
/*@import url("includes/form-speed.css");*/
@import url("includes/tables.css");
@import url("includes/media.css");




*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background-color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.4rem;
	color: black;
}

a {
	list-style: none;
	text-decoration: none;
	outline: none!important;
}

/* unvisited link */
a:link {
  color: #000;
}

/* visited link */
a:visited {
  color: #000;
}

/* mouse over link */
a:hover {
  color: #3f7dd3;
}


